@import '~antd/dist/antd.css';
@import '~ant-design-pro/dist/ant-design-pro.css';
@import './style/variables';

body {
  background-color: $global-background-color;
}

#root {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.ant-btn {
  min-width: 100px;
}

img{
  width:auto;
  height:auto;
  max-width:100%;
  max-height:100%;
}
