$action-color-blue: #0095dc;
$action-color-green: #00a446;
$action-color-red: #eb5d5d;
$status-color-yellow: #ffbd2e;
$table-bg-color-odd: #f8f8f8;
$global-background-color: #f0f3f7;
$separator-color: #e8e8e8;
$text-color-black: rgba(0, 0, 0, 0.75);
$text-color-black-secondary: rgba(0, 0, 0, 0.65);
$text-color-gray: #ababab;
$text-color-gray-description: rgba(0, 0, 0, 0.45);
